<section class="hero is-fullheight has-text-centered has-background-grey-dark has-text-white-ter" id="history">
	<div class="hero-body">
		<div class="container">
			<div class="columns">
				<div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
					<figure class="image">
						<img class="" src="{{site.site-image}}" alt="{{site.title}}">
					</figure>
				</div>
				<div class="column  is-one-fifth ">
				</div>
				<div class="column has-text-right-desktop has-text-right-tablet has-text-right-fullhd  is-three-fifths">
					<p>{{site.history}}</p>
					<br>
				</div>
			</div>
			<div class="youtube_video_mobile">	
			<iframe width="70%" height="500" src="https://www.youtube.com/embed/ekDsmc1EfGs?si=h8OSdh_-pLb42eMx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
			<div class="columns">
				<div class="column is-one-third is-centered">
					<a href="{{site.url}}{{site.baseurl}}/blog"
					   class="button is-rounded is-uppercase has-text-weight-normal is-white is-outlined">En savoir plus</a>
				</div>
				<div class="column is-one-third is-centered">
					<a href="{{site.linktree}}"
					   class="button is-rounded is-uppercase has-text-weight-normal is-white is-outlined">Liste de liens</a>
				</div>
				<div class="column is-one-third is-centered">
					<a href="#contact"
					   class="button is-rounded is-uppercase has-text-weight-normal is-white is-outlined">Nous retrouver</a>
				</div>
</section>
